<h1>Listing Movies</h1>


<%= form_tag set_genres_movies_path do %>
<% if can? :set_genres, Movie %>
  <%= select_tag 'genres_ids[]', options_from_collection_for_select(@genres, 'id', 'name'), prompt: "Seleciona el/los generos", multiple: true %>

  <%= submit_tag "Guardar" %>

<% end %>
  <table>
    <thead>
      <tr>
      <% if can? :set_genres, Movie %>
        <th colspan="2">Title</th>
      <% else %>
        <th>Title</th>
      <% end %>
        <th>Genres</th>
        <th>Realease date</th>
        <th>Studio</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody class="js-movies">
      <%= render @movies %>
    </tbody>
  </table>
<% end %>
<br>

<%= link_to t(:new), new_movie_path if can? :create, Movie %>
