<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Realease date:</strong>
  <%= @movie.realease_date %>
</p>

<p>
  <strong>Studio:</strong>
  <%= @movie.studio %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>

<h2>Reviews de la pelicula</h2>

<% @reviews.each do |review| %>
	<hr>
	<p><small><%= review.created_at %></small></p>
	<p><%= review.content %></p>
	<hr>
<% end %>